<div v-if="!CurrentUser">
  <table>
    <tr>
      <th>
        Player
      </th>
      <th>Score</th>
      <th>Tests Created</th>
    </tr>
    <tr v-for="user in users" :key="user.id">
      <td>{{user.login}}</td>
      <td>{{user.score}}</td>
      <td>{{user.createdTests === null ? 0 : user.createdTests.length}}</td>
    </tr>
  </table>
</div>
<div v-else>
  <h1 style="text-align:center; font-weight: 600;">
    User Table
  </h1>
  <table style="  border-top: 0px solid black; border-bottom: 4px solid black;">
    <tr>
      <th>
        Player
      </th>
      <th>Score</th>
      <th colspan="4" style="text-align:center;">Actions</th>
    </tr>
    <tr
      v-for="user in users"
      :key="user.id"
      v-if="user.login != CurrentUser.login"
    >
      <td class="logins">{{user.login}}</td>
      <td>{{user.score}}</td>
      <td>
        <b-button
          class="actions"
          variant="outline-dark"
          @click="DelUser(user.login)"
          >Delete User</b-button
        >
      </td>
      <td>
        <b-button
          class="actions"
          variant="outline-dark"
          @click="ConfirmEmail(user.login)"
          >Confirm Email</b-button
        >
      </td>
      <td>
        <b-button
          class="actions"
          variant="outline-dark"
          @click="ResetScore(user.login)"
          >Reset Score</b-button
        >
      </td>
      <td>
        <b-button
          v-b-toggle="'col'+user.login"
          class="actions"
          variant="outline-dark"
          >Change Password</b-button
        >
        <b-collapse :id="'col'+user.login">
          <b-form @submit.prevent="">
            <b-form-group
              id="input-1"
              label="New Password:"
              label-for="password"
            >
              <b-form-input
                v-model="pass"
                id="password"
                placeholder="Enter password"
                type="password"
                required
              ></b-form-input>
              <b-button
                v-b-toggle="'col'+user.login"
                style="width:100%;"
                class="mt-1"
                variant="dark"
                @click="ResetPassword(user.login)"
                >Change</b-button
              >
            </b-form-group>
          </b-form>
        </b-collapse>
      </td>
    </tr>
  </table>

  <h1 style="text-align:center; font-weight: 600;">
    Test Table
  </h1>
  <table style="  border-top: 0px solid black;">
    <tr>
      <th>Test Name</th>
      <th colspan="2" style="text-align:center;">Actions</th>
    </tr>
    <tr v-for="test in tests" :key="test.name">
      <td>{{test.name}}</td>
      <td>
        <b-button
          class="actions"
          variant="outline-dark"
          @click="DeleteTest(test.testId)"
          >Delete Test</b-button
        >
      </td>
      <td>
        <b-button class="actions" variant="outline-dark" disabled
          >Test Access</b-button
        >
      </td>
    </tr>
  </table>
</div>
