<div>
  <div>
    <b-card
      no-body
      style="max-width: 20rem; cursor: pointer;"
      class="m-4"
      img-alt="Image"
      img-top
      @click="$bvModal.show('modal-scoped')"
    >
      <template #header>
        <h4 class="mb-0">New test</h4>
      </template>
      <b-card-body class="p-0" style="width: 300px; height: 378px;">
        <b-card-img
          alt="Vue logo"
          class=""
          :src="require('@/assets/img/Plus.jpg')"
        />
      </b-card-body>
    </b-card>
  </div>
  <test-form></test-form>
</div>
