<div>
  <div>
    <h1>Register</h1>
  </div>
  <div class="register">
    <b-form @submit.prevent>
      <b-form-group>
        <b-form-input
          id="email"
          type="email"
          placeholder="Enter email"
          required
          v-model="registerForm.emailAddress"
        >
        </b-form-input>
      </b-form-group>

      <b-form-group>
        <b-form-input
          id="login"
          type="text"
          placeholder="Enter login"
          v-model="registerForm.login"
        >
        </b-form-input>
      </b-form-group>

      <b-form-group>
        <b-form-input
          id="pass"
          type="password"
          placeholder="Enter password"
          required
          v-model="registerForm.password"
        >
        </b-form-input>
      </b-form-group>

      <b-form-group class="mb-3">
        <b-form-input
          id="confPass"
          type="password"
          placeholder="Confirm password"
          required
          v-model="registerForm.confirmPassword"
        >
        </b-form-input>
      </b-form-group>
    </b-form>

    <div v-if="!errorResponse.success">
      <b-alert v-if="errorResponse.message" class="p-2" variant="danger" show
        >{{errorResponse.message}}</b-alert
      >
      <b-alert
        v-for="err in errorResponse.errors"
        :key="err"
        class="p-2"
        show
        variant="danger"
        style="hyphens:auto;"
        >{{err}}</b-alert
      >
    </div>
    <div>
      <b-button
        @click="Register"
        variant="outline-primary"
        style="width:100%; margin-top: 20px;"
        >Sing up</b-button
      >
    </div>
    <!--<b-input-group prepend="Login:" class="mt-3">
        <b-form-input v-model="userLogin"></b-form-input>
        <b-input-group-append>
          <b-button class="btn-dark" @click="checkUserLogin">Confirm</b-button>
        </b-input-group-append>
      </b-input-group> -->
  </div>
</div>
