<div>
  <b-card no-body class="mb-1 accbnt" role="tablist">
    <b-card-header header-tag="header" class="p-1" role="tab">
      <b-button block @click="QuestVisible = !QuestVisible" variant="info"
        >Question {{QuestionPos}}</b-button
      >
    </b-card-header>
    <b-collapse
      :id="QuestionPos.toString()+'quest'"
      v-model="QuestVisible"
      :accordion="QuestionPos.toString()+'quest'"
      role="tabpanel"
    >
      <b-card-body>
        <b-card-text>
          <b-input-group
            id="input-group-2"
            label="Questions:"
            label-for="collapse-1"
          >
            <b-form-input
              id="input-1"
              placeholder="Enter question"
              required
              v-model="NewQuest.Quest"
            >
            </b-form-input>
            <b-form-input
              id="input-1"
              placeholder="Enter correct answer"
              required
              v-model="NewQuest.CorrectAnswer"
            >
            </b-form-input>
          </b-input-group>
        </b-card-text>
        <div v-for="i in AnswerPos">
          <answer-input
            :editAnswer="editQuest ? editQuest.answers[i-1] : null"
            :AnswerPos="i"
            @added-ans="addAnswer"
          ></answer-input>
        </div>
        <b-button-group class="button-group">
          <b-button v-if="!editQuest" @click="AnswerPos++" variant="info"
            >Add</b-button
          >
          <b-button v-if="!editQuest" @click="delAnswer()" variant="info"
            >Delete</b-button
          >
        </b-button-group>
      </b-card-body>
    </b-collapse>
  </b-card>
</div>
