<b-container>
  <b-row class="page-title">
    <div>
      <b-nav tabs fill>
        <b-nav-item @click="navItem = 1">
          <h1>Quiz</h1>
        </b-nav-item>
        <b-nav-item @click="navItem = 2">
          <h1>Your Tests</h1>
        </b-nav-item>
      </b-nav>
    </div>
  </b-row>
  <b-row v-if="navItem === 1">
    <test-list
      v-for="test in tests"
      :test="test"
      :key="test.id"
      @chosen-test="getQuest"
    ></test-list>
  </b-row>
  <b-row v-else-if="navItem === 2">
    <user-tests></user-tests>
  </b-row>
</b-container>
