<b-container>
  <b-row class="page-title">
    <div>
      <b-nav tabs fill>
        <b-nav-item @click="navItem = 1">
          <h1>Quiz</h1>
        </b-nav-item>
        <b-nav-item @click="navItem = 2">
          <h1>Your Tests</h1>
        </b-nav-item>
        <b-nav-item style="margin-left:595px;" @click="$router.push('/')">
          <h1>Log out</h1>
        </b-nav-item>
      </b-nav>
    </div>
  </b-row>
  <b-row v-if="navItem === 1">
    <test-list
      v-for="test in Tests"
      :test="test"
      :key="test.testId"
    ></test-list>
  </b-row>
  <b-row v-else-if="navItem === 2">
    <test-list
      v-for="test in UserTests"
      :test="test"
      :key="test.testId"
      :userTestCheck="true"
      @delete-test="deleteTest"
    ></test-list>
    <user-tests></user-tests>
  </b-row>
</b-container>
