<b-card-group>
  <b-card>
    <b-card-body class="pt-0">
      <h1>{{question.quest}}</h1>
    </b-card-body>
    <b-list-group v-for="answer in question.answers" :key="answer.id">
      <b-list-group-item
        style="cursor:pointer;"
        @click="getAnswer(answer)"
        :class="usersAnswer === answer.ans ? 'active' : ''"
      >
        {{question.answers.indexOf(answer)+1}}) {{answer.ans}}
      </b-list-group-item>
    </b-list-group>
    <pugination></pugination>
  </b-card>
</b-card-group>
