<div>
  <div v-if="!IsSent">
    <h1>Enter your Email</h1>
  </div>
  <div v-else>
    <h1>Email has been sent</h1>
  </div>
  <div v-if="!IsSent" class="login">
    <b-form>
      <b-form-group>
        <b-form-input
          id="login"
          type="email"
          placeholder="Enter email"
          v-model="email"
          required
        >
        </b-form-input>
      </b-form-group>
    </b-form>
    <div v-if="!errorResponse.success">
      <b-alert v-if="errorResponse.message" class="p-2" variant="danger" show
        >{{errorResponse.message}}</b-alert
      >
      <b-alert
        v-for="err in errorResponse.errors"
        :key="err"
        class="p-2"
        show
        variant="danger"
        style="hyphens:auto;"
        >{{err}}</b-alert
      >
    </div>
    <div class="linksbar">
      <b-button variant="outline-primary" class="singIn" @click="Send"
        >Send reset link</b-button
      >
    </div>
  </div>
</div>
